In [1]:
import keras
import pandas as pd
import numpy as np

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# retrieving data
data_set = pd.read_csv('https://cocl.us/concrete_data')

#setting number of columns
n_cols = data_set.shape[1] - 1
data_set.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
from keras.models import Sequential
from keras.layers import Dense

In [4]:
# function to build a regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import statistics as st

In [6]:
# normalize the data
data_set_norm = (data_set - data_set.mean()) / data_set.std()
data_set_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597,2.644123
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597,1.560663
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340,0.266498
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221,0.313188
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069,0.507732

In [7]:
# splitting the data set into input and target sets
data_cols = data_set.columns
X = data_set[data_cols[data_cols != 'Strength']]
y = data_set['Strength']

In [8]:
# initialises array to hold mean squared errors
limit = 50
mses = np.zeros(limit)

for i in range(limit):
    
    # splitting input and target sets into train and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    # build the model
    model = regression_model()
    
    # fit the model
    model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, verbose=0)
    
    # evaluate the model
    mses[i] = model.evaluate(X_test, y_test, verbose=0)
    
print(mses)

[ 142.27966975  121.75316395   98.46598443   64.562374     69.05944677
   56.80694685   65.4010916    66.677909    118.23822977   95.60736667
  111.96424083   70.2464525   120.11393622   91.63877903   69.17800392
   71.62769873  119.07257495   84.98167256   92.03120966   99.20266343
   97.50234724   89.92721508   56.60005223  110.75312506  107.93776616
  159.22574109   64.86290705   74.86143279   52.73153408  114.24873194
   72.65508799  127.76815687   88.27938472   64.29445453   68.47338078
   94.65490737   70.10483583   58.39664712 1372.48539502   85.57533123
   76.10270363   65.79895563   87.61046632  119.89135204  201.71878481
   70.41579716   76.18210343   75.60698944   75.49412455   64.96824155]

In [9]:
# Calculating mean of Mean Squared Errors
mean = st.mean(mses)
print("The mean of MSEs collected is ", mean)

# Calculating standard deviation of Mean Squared Errors
sd = st.stdev(mses)
print("The standard deviation of MSEs collected is ", sd)

The mean of MSEs collected is  115.48074734808172
The standard deviation of MSEs collected is  183.69332605744657