In [31]:
import keras
import pandas as pd
import numpy as np

In [3]:
# retrieving data
data_set = pd.read_csv('https://cocl.us/concrete_data')

#setting number of columns
n_cols = data_set.shape[1] - 1
data_set.head()

8

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [14]:
from keras.models import Sequential
from keras.layers import Dense

In [15]:
# function to build a regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [19]:
# splitting the data set into input and target sets
data_cols = data_set.columns
X = data_set[data_cols[data_cols != 'Strength']]
y = data_set['Strength']

In [34]:
# initialises array to hold mean squared errors
limit = 50
mses = np.zeros(limit)

for i in range(limit):
    
    # splitting input and target sets into train and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    # build the model
    model = regression_model()
    
    # fit the model
    model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=0)
    
    # evaluate the model
    mses[i] = model.evaluate(X_test, y_test, verbose=0)
    
print(mses)

[ 122.59086224  113.67346135   99.14289676  128.20013329  240.60206945
  204.43189158  103.10262294  387.59430998 1638.89326077  326.88768228
  344.90784867  578.62720813  339.66597839   85.09964799  957.1131256
  142.80725409  279.41755178  280.8107206   489.77260365 1650.98926966
  302.54132366  208.44126413  556.00981313  172.22950448  169.92304874
  867.66043239  155.05850733  201.02063418  186.09479624  294.83703653
  630.55681326  501.76417813  340.59988147 1110.74102645  305.67330552
 2400.49947616  216.97478221  185.2447452   106.49348995  192.30192368
 1420.15204746  152.27890785  153.9145451   112.04218334   89.49920637
  135.86387402   77.2302274   172.56896904 1881.93410731  188.11992964]

In [35]:
import statistics as st

# Calculating mean of Mean Squared Errors
mean = st.mean(mses)
print("The mean of MSEs collected is ", mean)

# Calculating standard deviation of Mean Squared Errors
sd = st.stdev(mses)
print("The standard deviation of MSEs collected is ", sd)

The mean of MSEs collected is  440.05200759146976
The standard deviation of MSEs collected is  519.0736491129038